

<div class="container"> 
  <div class="row">
    <div class="col-12">
      <h1 align="center">Lista de categorías</h1>
    </div>
    <div class="col-12">
      <table class="table table-sm table-hover table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">nombre categoria</th>
            <th scope="col">Descripcion </th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias">
            <td>{{categoria.CategoryName}}</td>
            <td>{{categoria.Description}}</td>
            
          </tr>      
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-lg btn-block">Ingresar Categoría</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block">Eliminar Categoría</button>
    </div>
  </div>
</div>


<div class="container"> 
  <div class="row">
    <div class="col-12">
      <h1 align="center">Lista de Shippers</h1>
    </div>
    <div class="col-12">
      <table class="table table-sm table-hover table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Nombre de la Compañía</th>
            <th scope="col">Telefono </th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipper of shippers">
            <td>{{shipper.CompanyName}}</td>
            <td>{{shipper.Phone}}</td>
            
          </tr>      
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-lg btn-block">Ingresar Shipper</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block">Eliminar Shipper</button>
    </div>
  </div>
</div>

